*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0B132B;
  color: #EAEAEA;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  margin: 20px;
}

header {
  font-family: "Lugrasimo", cursive;
  font-size: xx-large;
  text-align: center;
  margin-bottom: auto;
  color: #ef1e1e;
}


img {
  display: grid;
  width: 180px;     
  height: 180px;
  border-radius: 50%;
  margin: 10px auto; 
  border: 4px solid #2e8854;
}

p {
  margin: 0 auto;
  font-size: 1rem;
  color: #D6D6D6;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


h2 {
  font-size: 20;
  margin: 10px;
  color: #87ff66;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

ul, ol {
  margin: 10px;
  text-align: left;
  padding: 10px;
}

a {
  color: #ff0000;
  text-decoration: none;
  font-size: small;
}


footer {
  text-align: center;
  margin-top: 4rem;
  font-size: 0.9rem;
  color: #A5A5A5;
}
